@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
*{
    font-family: 'Yusei Magic', sans-serif;
}

header{
    font-size: 5vw;
    display: grid;
    justify-content: center;
    background-color: black;
    color: white;
    height: 10vh;
    padding: 10px;
}

body{
    margin: 0;
    height: calc(90vh - 20px);
}

.container{
    display: grid;
    grid-template-columns: calc(15vw + 5px) calc(85vw - 5px);
}

.sidebar{
    background-color: rgba(222, 184, 135, 0.593);
    height: calc(90vh - 20px);
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
}
#catalogue{
    padding-top: 25px;
    background-color: rgba(77, 76, 76, 0.457);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 25px;


}
.book{
    height: 25vh;
    width:20vw;
    background-color: white;
    border-radius: 8px;
    display: grid;
    border-left-style: solid;
    border-left-width: 16px;
    border-left-color: brown;

    
}

#addbook{
    display: none;
}
